<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input (input)="onChangeLength($any($event.target).value)" />
</div>

<div>
  <input (change)="onChangeUseLetters()" type="checkbox">
  <label>User Letters</label>
</div>
<div>
  <input (change)="onChangeUseNumbers()" type="checkbox">
  <label>User Numbers</label>
</div>
<div>
  <input (change)="onChangeUseSymbols()" type="checkbox">
  <label>User Symbols</label>
</div>
<div>
  <button (click)="onButtonClick()">Generate!</button>
</div>
<div>
  <label>Your Passowrd</label>
  <input [value]="password"/>
</div>